=clearfix
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ''
  &:after
    clear: both

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  border-radius:         $radius

=box-sizing
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  box-sizing:         border-box
  // *behavior: url('../js/boxsizing.htc')

=box-shadow($properties)
  -webkit-box-shadow: $properties
  -moz-box-shadow:    $properties
  box-shadow:         $properties

=vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
  display: inline-block

=middleline($height, $ie: 0)
  height: $height + px
  line-height: $height + px
  &:not(:target)
    line-height: $height + $ie + px + \9
  \:root &
    line-height: $height + $ie + px + \9

=transition($properties)
  -webkit-transition: $properties
  -moz-transition:    $properties
  -o-transition:      $properties
  transition:         $properties
  -webkit-backface-visibility: hidden

=transform($properties)
  -webkit-transform: $properties
  -moz-transform:    $properties
  -ms-transform:     $properties
  -o-transform:      $properties
  transform:         $properties